/* Styles for the container */
.container {
  width: 100%;
  min-height: 100vh;
  /* Background gradient */
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  padding: 1rem;
  border: 1px solid black;

  /* Styles for the to-do section */
  .todo {
    /* Width and max-width settings */
    width: 100%;
    max-width: 540px;
    background: $palegreen; /* Set background color */
    margin: 6.25rem auto 1.25rem;
    padding: 2.5rem 1.875rem 4.375rem;
    border-radius: 0.8rem;

    /* Styles for the to-do header */
    &__header {
      color: darkgreen;
      font-weight: 700;
      display: flex;
      align-items: center;
    }

    /* Styles for the to-do image */
    &__img {
      width: 2rem;
      margin-left: 1rem;
    }

    /* Styles for the input row */
    &__row {
      /* Display and alignment settings */
      display: flex;
      align-items: center;
      background: $darkgreen; /* Set background color */
      border-radius: 2rem;
      margin-top: 1rem;
      padding-left: 1rem;
      overflow: hidden;

      /* Styles for the input field */
      input {
        flex: 3;
        border: none;
        outline: none;
        background: transparent;
        padding: 1rem;
        font-family: "Barlow Condensed", sans-serif;
        color: whitesmoke;
        font-size: 1rem;

        /* Placeholder styles */
        &::placeholder {
          color: whitesmoke;
          font-weight: 500;
        }
      }

      /* Styles for the add button */
      .btn {
        flex: 1;
        border: none;
        outline: none;
        padding: 1rem 2rem;
        color: whitesmoke;
        font-size: 1rem;
        font-family: "Barlow Condensed", sans-serif;
        cursor: pointer;
        transition: all 300ms ease-in-out;
        background: $blackgreen;

        /* Button hover effect */
        &:hover {
          background-color: goldenrod;
          color: black;
          font-weight: 700;
          border-radius: 2rem;
        }
      }
    }

    /* Styles for the to-do list */
    ul {
      li {
        /* List item positioning and styling */
        position: relative;
        background: $lightgreen; /* Set background color */
        border-bottom-left-radius: 2rem;
        border-top-left-radius: 2rem;
        list-style: none;
        font-size: 1.25rem;
        user-select: none;
        cursor: pointer;
        padding: 1rem 1rem 1rem 4rem;
        margin: 1rem 0;

        /* Checkbox icon */
        &::before {
          content: "";
          position: absolute;
          height: 1rem;
          width: 1rem;
          border-radius: 50%;
          background-image: url(/images/unchecked.png);
          background-size: cover;
          background-position: center;
          top: 1.4rem;
          left: 1.5rem;
        }
      }

      /* Checked list item styles */
      li.checked {
        color: #555;
        text-decoration: line-through;
        &::before {
          background-image: url(/images/checked.png);
        }
      }
    }
  }
}

/* Styles for the delete icon */
ul li span {
  width: 5rem;
  height: 3.5rem;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2.5rem;
  color: whitesmoke;
  text-align: center;
  transition: all 300ms ease-in-out;
  background: $blackgreen;
  cursor: pointer;

  /* Delete icon hover effect */
  &:hover {
    background-color: goldenrod;
    color: black;
    font-weight: 700;
  }
}
